* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Dokrip";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Dokrip.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ROEHOE-CHAN";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/ROEHOE-CHAN.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kimjungchul";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulScript-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
header {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 3;
}
header .header-inner {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
header .header-inner h1 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 150px;
}
header .header-inner h1 a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
header .header-inner h1 a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header .header-inner .header-gnb {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  align-items: center;
}
header .header-inner .header-gnb > li > a {
  display: flex;
  width: 100px;
  height: 50px;
  justify-content: center;
  align-items: center;
}
header .header-inner .header-icon {
  display: flex;
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translate(-50%);
  height: 100%;
}

#top-btn {
  position: fixed;
  z-index: 2;
  width: 150px;
  height: 250px;
  right: 20px;
  bottom: 20px;
}
#top-btn > a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#visual {
  position: relative;
  width: 100%;
  height: 80vh;
}
#visual .slide-frame {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100%;
}
#visual .slide-frame > li {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0;
  width: 100%;
  height: 80vh;
  flex-shrink: 0;
  transition: left 0.5s;
}
#visual .slide-frame > li > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#visual .slide-frame > li .visual-txt {
  position: absolute;
  z-index: 2;
  left: 5%;
  bottom: 70px;
  display: flex;
  align-items: end;
  gap: 20px;
}
#visual .slide-frame > li .visual-txt h2 {
  font: 72px/1 "Kimjungchul";
  color: #fff;
}
#visual .slide-frame > li .visual-txt p {
  font: 24px/1 "Kimjungchul";
  color: #fff;
}
#visual .slide-frame > li::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
}
#visual .slide-btns {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 20px;
}
#visual .slide-btns li {
  width: 80px;
  height: 80px;
}
#visual .slide-btns li > a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
#visual .slide-btns li > a > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s;
}
#visual .slide-btns li > a > img:nth-of-type(2) {
  opacity: 0;
  visibility: hidden;
}
#visual .slide-btns li:hover > a > img:nth-of-type(1) {
  visibility: hidden;
}
#visual .slide-btns li:hover > a > img:nth-of-type(2) {
  opacity: 1;
  visibility: visible;
}
#visual .slide-pagination {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  gap: 10px;
}
#visual .slide-pagination > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #f7f7f7;
}
#visual .slide-pagination > li > a {
  font: bold 16px/1 "arial";
  color: #333;
}
#visual .slide-pagination > li.active {
  background-color: #ef6d00;
}
#visual .slide-pagination > li.active > a {
  color: #fff;
}
#visual .visual-bar {
  width: 60%;
  height: 100px;
  position: absolute;
  display: flex;
  left: 5%;
  bottom: -50px;
  background-color: #ef6d00;
  z-index: 2;
  border-radius: 20px;
}

#event {
  width: 100%;
  padding: 150px 0 100px;
}
#event .event-inner {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
#event .event-inner .event-txt {
  width: 100%;
  height: 80px;
}
#event .event-inner .event-slide {
  width: 90%;
  height: 400px;
  display: flex;
  overflow: hidden;
  margin: 0 auto;
}
#event .event-inner .event-slide > li {
  width: 25%;
  height: 100%;
  padding: 50px 10px;
}
#event .event-inner .event-slide > li a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  border-radius: 20px;
  overflow: hidden;
}
#event .event-inner .event-slide > li a .event-img {
  width: 100%;
  height: 70%;
  overflow: hidden;
}
#event .event-inner .event-slide > li a .event-img > img {
  object-fit: cover;
}
#event .event-inner .event-btns {
  position: absolute;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 80px;
}

#sns {
  width: 100%;
  padding: 0 0 100px;
}
#sns .sns-inner {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 50px;
}
#sns .sns-inner .sns-youtube {
  flex: 2;
  background-color: aqua;
}
#sns .sns-inner .sns-instagram {
  flex: 1;
  background-color: aqua;
}
#sns .sns-inner > div ul {
  width: 100%;
  height: 250px;
}
#sns .sns-inner > div a {
  display: block;
  text-align: right;
}

#QnA {
  width: 100%;
  padding: 0 0 100px;
}
#QnA .QnA-inner {
  width: 80%;
  margin: 0 auto;
  background-color: aqua;
}
#QnA .QnA-inner .QnA-txt {
  width: 100%;
  height: 80px;
}
#QnA .QnA-inner .QnA-list {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}
#QnA .QnA-inner .QnA-list ul > li {
  width: 100%;
  padding: 0 20px;
}
#QnA .QnA-inner .QnA-list ul > li > a {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
#QnA .QnA-inner > a {
  display: block;
  text-align: right;
}

#intro {
  width: 100%;
  height: 1000px;
  padding: 250px 0 50px;
}
#intro .intro-bg {
  width: 100%;
  height: 100%;
  position: relative;
}
#intro .intro-bg > .intro-jeju {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#intro .intro-bg > .into-back {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  animation: background 2s linear infinite;
  animation-direction: alternate;
}

@keyframes background {
  0% {
    top: 20%;
  }
  100% {
    top: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
