@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jeju Gothic", sans-serif;
}

ol, ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

#top-btn {
  position: fixed;
  z-index: 2;
  width: 150px;
  height: 250px;
  right: 20px;
  bottom: 20px;
}
#top-btn > a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1300px) {
  #top-btn {
    display: none;
  }
}
header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #f8f8f8;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.01);
}
header .header-inner {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
header .header-inner h1 {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-inner h1 a {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-inner h1 a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header .header-inner .header-gnb {
  display: flex;
}
header .header-inner .header-gnb > li {
  position: relative;
  display: flex;
  width: 150px;
  height: 100px;
  justify-content: center;
  align-items: center;
}
header .header-inner .header-gnb > li > a {
  display: block;
  position: relative;
  font-size: 20px;
  color: #333;
}
header .header-inner .header-gnb > li:last-of-type::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #ef6d00;
  width: 0%;
  height: 3px;
  transition: 0.5s;
}
header .header-inner .header-gnb > li:hover::after {
  width: 100%;
}
header .header-inner .header-gnb > li > .header-sub {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 97px;
  width: 100%;
  border: 3px solid #ef6d00;
  padding: 10px 0;
  background-color: #fff;
  border-radius: 5px;
  transition: opacity 0.5s;
}
header .header-inner .header-gnb > li > .header-sub::before {
  display: block;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  top: -14px;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%) rotate(45deg);
  border-left: 3px solid #ef6d00;
  border-top: 3px solid #ef6d00;
}
header .header-inner .header-gnb > li > .header-sub > li > a {
  position: relative;
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: #333;
}
header .header-inner .header-gnb > li > .header-sub > li > a::after {
  display: block;
  content: "";
  position: absolute;
  width: 80%;
  height: 0.5px;
  background-color: #ef6d00;
  opacity: 0.2;
  bottom: 0;
}
header .header-inner .header-gnb > li > .header-sub > li:last-of-type a::after {
  display: none;
}
header .header-inner .header-icon {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
}
header .header-inner .header-icon > li {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
header .header-inner .header-icon > li > a {
  font-size: 16px;
  color: #333;
}
header .header-inner .header-icon > li > a > i {
  font-size: 16px;
  color: #333;
}
header .header-inner .header-icon > li > .language {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 97px;
  left: 50%;
  transform: translate(-50%);
  width: 100px;
  border: 3px solid #ef6d00;
  padding: 10px 0;
  background-color: #fff;
  border-radius: 5px;
  transition: opacity 0.5s;
}
header .header-inner .header-icon > li > .language::before {
  display: block;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  top: -14px;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%) rotate(45deg);
  border-left: 3px solid #ef6d00;
  border-top: 3px solid #ef6d00;
}
header .header-inner .header-icon > li > .language > li > a {
  position: relative;
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 16px;
}
header .header-inner .header-icon > li > .language > li > a::after {
  display: block;
  content: "";
  position: absolute;
  width: 80%;
  height: 0.5px;
  background-color: #ef6d00;
  opacity: 0.2;
  bottom: 0;
}
header .header-inner .header-icon > li > .language > li:last-of-type a::after {
  display: none;
}
header .header-inner .header-icon > li > .language.on {
  visibility: visible;
  opacity: 1;
}
header .header-inner .header-icon > li:last-of-type {
  display: none;
}

@media (max-width: 1700px) {
  header .header-inner .header-gnb > li {
    width: 100px;
  }
  header .header-inner .header-gnb > li > a {
    font-size: 18px;
  }
  header .header-inner .header-gnb > li > .header-sub {
    width: 150px;
  }
}
@media (max-width: 1300px) {
  header .header-inner {
    width: 90%;
  }
}
@media (max-width: 1200px) {
  header .header-inner .header-gnb {
    display: none;
  }
  header .header-inner .header-icon > li:last-of-type {
    display: flex;
  }
}
@media (max-width: 768px) {
  header {
    height: 50px;
  }
  header .header-inner h1 {
    width: 100px;
  }
  header .header-inner .header-gnb {
    display: none;
  }
  header .header-inner .header-icon > li:nth-of-type(1), header .header-inner .header-icon > li:nth-of-type(2) {
    display: none;
  }
}
footer {
  width: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
footer .family-site {
  width: 100%;
  height: 100px;
  background-color: #f7f7f7;
}
footer .family-site > ul {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
footer .family-site > ul > li {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
footer .family-site > ul > li > img {
  width: 100%;
  height: 70%;
  object-fit: contain;
}
footer .sitemap {
  width: 100%;
  background-color: #333;
  transition: 0.5s;
}
footer .sitemap p {
  width: 70%;
  height: 50px;
  margin: 0 auto;
}
footer .sitemap p > a {
  font-size: 16px;
  line-height: 50px;
  color: #f7f7f7;
}
footer .sitemap p > a::after {
  display: inline-block;
  content: "∨";
  font-size: 14px;
  margin-left: 10px;
}
footer .sitemap .sitemap-gnb {
  height: 0px;
  width: 100%;
  display: flex;
  padding: 0 15%;
  gap: 30px;
  overflow: hidden;
  justify-content: center;
  text-align: center;
}
footer .sitemap .sitemap-gnb > li > a {
  display: block;
  font-size: 20px;
  color: #f7f7f7;
  margin-bottom: 20px;
}
footer .sitemap .sitemap-gnb > li > .sitemap-sub > li > a {
  display: block;
  font-size: 16px;
  color: #999;
  margin-bottom: 10px;
}
footer .sitemap.active {
  padding: 0 0 50px;
}
footer .sitemap.active p {
  margin-bottom: 30px;
}
footer .sitemap.active p > a::after {
  content: "∧";
}
footer .sitemap.active p::after {
  display: block;
  content: "";
  width: 100%;
  height: 0.5px;
  background-color: #ddd;
  opacity: 0.2;
}
footer .sitemap.active .sitemap-gnb {
  height: auto;
}
footer .footer-content {
  width: 100%;
  background-color: #f7f7f7;
  padding: 40px 15%;
  position: relative;
}
footer .footer-content .visitjeju-number > p {
  font-size: 34px;
  margin-bottom: 40px;
  color: #444;
}
footer .footer-content .visitjeju-number > p:first-of-type {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 10px;
}
footer .footer-content .footer-list {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
footer .footer-content .footer-list > li > a {
  font-size: 14px;
  color: #888;
}
footer .footer-content .footer-list > li > a.bold {
  color: #222;
}
footer .footer-content .footer-txt {
  margin-bottom: 30px;
}
footer .footer-content .footer-txt > li {
  margin-bottom: 10px;
  font-size: 14px;
  color: #888;
}
footer .footer-content .footer-txt > li > ul {
  display: flex;
  gap: 20px;
}
footer .footer-content .copyright {
  font-size: 14px;
  color: #888;
}
footer .footer-content .certification {
  position: absolute;
  top: 20px;
  right: 15%;
  display: flex;
  right: 15%;
  width: 400px;
  gap: 20px;
}
footer .footer-content .certification > li {
  flex: 1.5;
}
footer .footer-content .certification > li:first-of-type {
  flex: 1;
}
footer .footer-content .certification > li > img {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1300px) {
  footer .family-site > ul {
    width: 90%;
  }
  footer .sitemap p {
    width: 90%;
    height: 40px;
  }
  footer .sitemap p > a {
    line-height: 40px;
  }
  footer .footer-content {
    padding: 40px 5%;
  }
  footer .footer-content .visitjeju-number > p {
    font-size: 30px;
    margin-bottom: 25px;
  }
  footer .footer-content .visitjeju-number > p:first-of-type {
    font-size: 18px;
  }
  footer .footer-content .footer-list {
    gap: 10px;
    margin-bottom: 15px;
  }
  footer .footer-content .footer-txt {
    margin-bottom: 20px;
  }
  footer .footer-content .footer-txt > li > ul {
    gap: 10px;
  }
  footer .footer-content .certification {
    right: 5%;
    width: 300px;
  }
}
@media (max-width: 1024px) {
  footer .family-site {
    height: 50px;
  }
  footer .family-site > ul {
    width: 100%;
  }
  footer .family-site > ul > li > img {
    height: 100%;
  }
  footer .sitemap p {
    width: 90%;
    height: 30px;
  }
  footer .sitemap p > a {
    line-height: 30px;
    font-size: 13px;
  }
  footer .sitemap .sitemap-gnb {
    padding: 0 5%;
  }
  footer .sitemap .sitemap-gnb > li > a {
    font-size: 18px;
  }
  footer .sitemap .sitemap-gnb > li > .sitemap-sub > li > a {
    font-size: 15px;
  }
  footer .sitemap.active {
    padding: 0 0 30px;
  }
  footer .footer-content {
    padding: 30px 5%;
  }
  footer .footer-content .visitjeju-number > p {
    font-size: 26px;
    margin-bottom: 18px;
  }
  footer .footer-content .visitjeju-number > p:first-of-type {
    font-size: 20px;
  }
  footer .footer-content .footer-list {
    gap: 10px;
    margin-bottom: 15px;
  }
  footer .footer-content .footer-list > li > a {
    font-size: 13px;
  }
  footer .footer-content .footer-txt {
    margin-bottom: 20px;
  }
  footer .footer-content .footer-txt > li {
    font-size: 13px;
  }
  footer .footer-content .copyright {
    font-size: 12px;
  }
  footer .footer-content .certification {
    width: 200px;
  }
}
@media (max-width: 768px) {
  footer .family-site {
    height: 40px;
  }
  footer .sitemap p > a {
    font-size: 12px;
  }
  footer .sitemap .sitemap-gnb {
    padding: 0 5%;
    gap: 15px;
    justify-content: start;
    text-align: left;
  }
  footer .sitemap .sitemap-gnb > li > a {
    font-size: 14px;
  }
  footer .sitemap .sitemap-gnb > li > .sitemap-sub > li > a {
    font-size: 12px;
  }
  footer .sitemap.active {
    padding: 0 0 30px;
  }
  footer .footer-content {
    padding: 20px 5%;
  }
  footer .footer-content .visitjeju-number > p {
    font-size: 16px;
    margin-bottom: 15px;
  }
  footer .footer-content .visitjeju-number > p:first-of-type {
    font-size: 14px;
  }
  footer .footer-content .footer-list {
    gap: 5px;
    margin-bottom: 15px;
    flex-wrap: wrap;
  }
  footer .footer-content .footer-list > li > a {
    font-size: 10px;
  }
  footer .footer-content .footer-txt {
    margin-bottom: 15px;
  }
  footer .footer-content .footer-txt > li {
    font-size: 10px;
    margin-bottom: 5px;
  }
  footer .footer-content .footer-txt > li > ul {
    flex-wrap: wrap;
    gap: 5px;
  }
  footer .footer-content .copyright {
    font-size: 10px;
  }
  footer .footer-content .certification {
    width: 150px;
  }
}
#hotplace {
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin-top: 50px;
}
#hotplace .hotplace-inner {
  position: relative;
  width: 70%;
  margin: 0 auto;
}
#hotplace .hotplace-inner > h2 {
  height: 40px;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 30px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
#hotplace .hotplace-inner > h2::before {
  display: inline-block;
  content: "";
  width: 30px;
  height: 30px;
  background: url(../img/icon/map.svg) no-repeat center/cover;
  margin-bottom: 3px;
  margin-right: 10px;
}
#hotplace .hotplace-inner .hotplace-slide {
  width: 100%;
  height: 100%;
}
#hotplace .hotplace-inner .hotplace-slide .slide-frame {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100%;
  height: 400px;
  border-radius: 20px;
}
#hotplace .hotplace-inner .hotplace-slide .slide-frame > li {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0;
  width: 100%;
  height: 400px;
  flex-shrink: 0;
  transition: left 0.5s;
}
#hotplace .hotplace-inner .hotplace-slide .slide-frame > li > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#hotplace .hotplace-inner .hotplace-slide .slide-frame > li .visual-txt {
  position: absolute;
  z-index: 2;
  left: 10%;
  top: 50%;
  width: 40%;
  transform: translateY(-50%);
  background-color: rgba(242, 136, 56, 0.8);
  padding: 30px 20px;
}
#hotplace .hotplace-inner .hotplace-slide .slide-frame > li .visual-txt h2 {
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 20px;
  color: #fff;
}
#hotplace .hotplace-inner .hotplace-slide .slide-frame > li .visual-txt p {
  font-weight: normal;
  font-size: 20px;
  color: #fff;
}
#hotplace .hotplace-inner .hotplace-slide .slide-btns {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 20px;
}
#hotplace .hotplace-inner .hotplace-slide .slide-btns li {
  width: 80px;
  height: 80px;
}
#hotplace .hotplace-inner .hotplace-slide .slide-btns li > a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
#hotplace .hotplace-inner .hotplace-slide .slide-btns li > a > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s;
}
#hotplace .hotplace-inner .hotplace-slide .slide-btns li > a > img:nth-of-type(2) {
  opacity: 0;
  visibility: hidden;
}
#hotplace .hotplace-inner .hotplace-slide .slide-btns li:hover > a > img:nth-of-type(1) {
  visibility: hidden;
}
#hotplace .hotplace-inner .hotplace-slide .slide-btns li:hover > a > img:nth-of-type(2) {
  opacity: 1;
  visibility: visible;
}
#hotplace .hotplace-inner .hotplace-slide .slide-pagination {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  gap: 10px;
}
#hotplace .hotplace-inner .hotplace-slide .slide-pagination > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #f7f7f7;
}
#hotplace .hotplace-inner .hotplace-slide .slide-pagination > li > a {
  font-size: 16px;
  font-weight: normal;
  color: #333;
}
#hotplace .hotplace-inner .hotplace-slide .slide-pagination > li.active {
  background-color: #ef6d00;
}
#hotplace .hotplace-inner .hotplace-slide .slide-pagination > li.active > a {
  color: #fff;
}

@media (max-width: 1300px) {
  #hotplace .hotplace-inner {
    width: 90%;
  }
  #hotplace .hotplace-inner > h2 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  #hotplace .hotplace-inner > h2::before {
    width: 26px;
    height: 26px;
  }
  #hotplace .hotplace-inner .hotplace-slide .slide-frame > li .visual-txt {
    width: 50%;
  }
  #hotplace .hotplace-inner .hotplace-slide .slide-frame > li .visual-txt h2 {
    font-size: 34px;
  }
  #hotplace .hotplace-inner .hotplace-slide .slide-frame > li .visual-txt p {
    font-weight: normal;
    font-size: 18px;
  }
  #hotplace .hotplace-inner .hotplace-slide .slide-btns li {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 1024px) {
  #hotplace {
    height: auto;
    margin-bottom: 100px;
  }
  #hotplace .hotplace-inner > h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  #hotplace .hotplace-inner > h2::before {
    width: 22px;
    height: 22px;
  }
  #hotplace .hotplace-inner .hotplace-slide {
    height: 300px;
  }
  #hotplace .hotplace-inner .hotplace-slide .slide-frame {
    height: 300px;
  }
  #hotplace .hotplace-inner .hotplace-slide .slide-frame > li {
    height: 300px;
  }
  #hotplace .hotplace-inner .hotplace-slide .slide-frame > li .visual-txt {
    width: 50%;
    padding: 20px 10px;
  }
  #hotplace .hotplace-inner .hotplace-slide .slide-frame > li .visual-txt h2 {
    font-size: 24px;
  }
  #hotplace .hotplace-inner .hotplace-slide .slide-frame > li .visual-txt p {
    font-weight: normal;
    font-size: 14px;
  }
  #hotplace .hotplace-inner .hotplace-slide .slide-btns {
    padding: 0;
  }
  #hotplace .hotplace-inner .hotplace-slide .slide-btns li {
    width: 45px;
    height: 45px;
  }
  #hotplace .hotplace-inner .hotplace-slide .slide-pagination {
    bottom: 15px;
    right: 15px;
  }
  #hotplace .hotplace-inner .hotplace-slide .slide-pagination > li {
    width: 25px;
    height: 25px;
  }
  #hotplace .hotplace-inner .hotplace-slide .slide-pagination > li > a {
    font-size: 14px;
    font-weight: normal;
    color: #333;
  }
}
@media (max-width: 768px) {
  #hotplace {
    margin-bottom: 40px;
  }
  #hotplace .hotplace-inner {
    width: 100%;
  }
  #hotplace .hotplace-inner > h2 {
    padding: 0 5%;
    font-size: 16px;
    margin-bottom: 5px;
  }
  #hotplace .hotplace-inner > h2::before {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
  #hotplace .hotplace-inner .hotplace-slide {
    height: 150px;
  }
  #hotplace .hotplace-inner .hotplace-slide .slide-frame {
    height: 150px;
    border-radius: 0px;
  }
  #hotplace .hotplace-inner .hotplace-slide .slide-frame > li {
    height: 150px;
  }
  #hotplace .hotplace-inner .hotplace-slide .slide-frame > li .visual-txt {
    width: auto;
    top: auto;
    bottom: 15px;
    left: 15px;
    transform: none;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
  }
  #hotplace .hotplace-inner .hotplace-slide .slide-frame > li .visual-txt h2 {
    font-size: 14px;
    margin-bottom: 0px;
  }
  #hotplace .hotplace-inner .hotplace-slide .slide-frame > li .visual-txt p {
    display: none;
  }
  #hotplace .hotplace-inner .hotplace-slide .slide-btns {
    height: 150px;
    top: 45px;
    padding: 0;
  }
  #hotplace .hotplace-inner .hotplace-slide .slide-btns li {
    width: 20px;
    height: 20px;
  }
  #hotplace .hotplace-inner .hotplace-slide .slide-pagination {
    gap: 5px;
  }
  #hotplace .hotplace-inner .hotplace-slide .slide-pagination > li {
    width: 20px;
    height: 20px;
  }
  #hotplace .hotplace-inner .hotplace-slide .slide-pagination > li > a {
    font-size: 12px;
  }
}
#event {
  width: 100%;
  padding: 0px 0 100px;
}
#event .event-inner {
  width: 70%;
  margin: 0 auto;
  position: relative;
}
#event .event-inner > h2 {
  height: 40px;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 30px;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: #333;
}
#event .event-inner > h2::before {
  display: inline-block;
  content: "";
  width: 30px;
  height: 30px;
  margin-bottom: 3px;
  margin-right: 10px;
  background: url("../img/icon/map.svg") no-repeat center/cover;
}
#event .event-inner .event-slide {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 300px;
  display: flex;
  overflow: hidden;
  margin: 0 auto;
}
#event .event-inner .event-slide > li {
  width: 100%;
  height: 100%;
  min-width: 100%;
}
#event .event-inner .event-slide > li > ul {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}
#event .event-inner .event-slide > li > ul > li {
  width: 25%;
  height: 100%;
  padding: 0px 10px;
  min-width: 0;
}
#event .event-inner .event-slide > li > ul > li a {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #eee;
  border-radius: 20px;
  overflow: hidden;
}
#event .event-inner .event-slide > li > ul > li a .event-img {
  width: 100%;
  height: 70%;
  overflow: hidden;
}
#event .event-inner .event-slide > li > ul > li a .event-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#event .event-inner .event-slide > li > ul > li a > p {
  font-size: 20px;
  width: 100%;
  height: 30%;
  padding: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333;
}
#event .event-inner .event-slide > li > ul > li a > p > span {
  margin-top: 10px;
  display: block;
  font-size: 14px;
  color: #888;
}
#event .event-inner .event-btns {
  z-index: 0;
  position: absolute;
  width: 110%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}
#event .event-inner .event-btns li a i {
  font-size: 50px;
  color: #333;
}

@media (max-width: 1500px) {
  #event .event-inner .event-slide > li > ul > li a > p {
    font-size: 16px;
    padding: 20px 10px;
  }
}
@media (max-width: 1300px) {
  #event .event-inner {
    width: 90%;
  }
  #event .event-inner > h2 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  #event .event-inner > h2::before {
    width: 26px;
    height: 26px;
  }
  #event .event-inner .event-btns {
    width: 105%;
    height: 350px;
    top: 0;
  }
  #event .event-inner .event-btns li a i {
    font-size: 30px;
  }
}
@media (max-width: 1024px) {
  #event .event-inner > h2 {
    font-size: 22px;
  }
  #event .event-inner > h2::before {
    width: 22px;
    height: 22px;
  }
  #event .event-inner .event-slide {
    height: 200px;
  }
  #event .event-inner .event-slide > li > ul > li {
    padding: 0px 5px;
  }
  #event .event-inner .event-slide > li > ul > li a {
    border-radius: 10px;
  }
  #event .event-inner .event-slide > li > ul > li a > p {
    margin-top: 5px;
    font-size: 16px;
    padding: 5px;
  }
  #event .event-inner .event-slide > li > ul > li a > p > span {
    margin-top: 7px;
    font-size: 12px;
  }
  #event .event-inner .event-btns {
    height: 240px;
  }
  #event .event-inner .event-btns li a i {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  #event {
    padding: 0 0 40px;
  }
  #event .event-inner > h2 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  #event .event-inner > h2::before {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
  #event .event-inner .event-slide {
    height: 300px;
  }
  #event .event-inner .event-slide > li > ul {
    flex-wrap: wrap;
  }
  #event .event-inner .event-slide > li > ul > li {
    width: 50%;
    height: 50%;
    padding: 7px;
  }
  #event .event-inner .event-slide > li > ul > li a {
    border-radius: 5px;
  }
  #event .event-inner .event-slide > li > ul > li a .event-img {
    height: 60%;
  }
  #event .event-inner .event-slide > li > ul > li a > p {
    font-size: 12px;
    padding: 5px 10px;
  }
  #event .event-inner .event-slide > li > ul > li a > p > span {
    font-size: 10px;
  }
  #event .event-inner .event-btns {
    height: 340px;
  }
  #event .event-inner .event-btns li {
    margin-top: 30px;
  }
  #event .event-inner .event-btns li a i {
    font-size: 14px;
  }
}
#sns {
  width: 100%;
  padding: 50px 0 100px;
}
#sns .sns-inner {
  width: 70%;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
}
#sns .sns-inner > div > h2 {
  height: 40px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
#sns .sns-inner > div > h2::before {
  display: inline-block;
  content: "";
  width: 30px;
  height: 30px;
  margin-bottom: 3px;
  margin-right: 10px;
}
#sns .sns-inner > div > ul {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}
#sns .sns-inner > div > a {
  position: relative;
  display: block;
  height: 20px;
  text-align: right;
  color: #555;
  font-weight: normal;
  font-size: 14px;
}
#sns .sns-inner > div > a::after {
  display: inline-block;
  content: ">>";
  color: #ef6d00;
  margin-left: 10px;
}
#sns .sns-inner > div.sns-youtube {
  width: 70%;
  padding-right: 30px;
}
#sns .sns-inner > div.sns-youtube > h2::before {
  background: url(../img/logo/yotube.svg) no-repeat center/cover;
}
#sns .sns-inner > div.sns-youtube .youtube-list {
  display: flex;
  gap: 20px;
}
#sns .sns-inner > div.sns-youtube .youtube-list > li {
  flex: 1;
  width: 100%;
  min-width: 0;
  border: 1px solid #eee;
  border-radius: 20px;
  overflow: hidden;
}
#sns .sns-inner > div.sns-youtube .youtube-list > li > a {
  display: block;
  width: 100%;
  height: 150px;
}
#sns .sns-inner > div.sns-youtube .youtube-list > li > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#sns .sns-inner > div.sns-youtube .youtube-list > li > p {
  width: 100%;
  height: 50px;
  font-weight: normal;
  font-size: 16px;
  line-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
  color: #777;
}
#sns .sns-inner > div.sns-instagram {
  width: 30%;
}
#sns .sns-inner > div.sns-instagram > h2::before {
  background: url(../img/logo/insta.svg) no-repeat center/cover;
}
#sns .sns-inner > div.sns-instagram .insta-list {
  display: flex;
}
#sns .sns-inner > div.sns-instagram .insta-list > li {
  flex: 1;
  height: 100%;
  transition: flex 0.5s;
}
#sns .sns-inner > div.sns-instagram .insta-list > li > a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#sns .sns-inner > div.sns-instagram .insta-list > li > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(0.9);
  transition: 0.5s;
}
#sns .sns-inner > div.sns-instagram .insta-list > li:hover {
  flex: 3;
  border: 3px solid #ef6d00;
}
#sns .sns-inner > div.sns-instagram .insta-list > li:hover > a > img {
  filter: grayscale(0);
}

@media (max-width: 1300px) {
  #sns .sns-inner {
    width: 90%;
  }
  #sns .sns-inner > div > h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1024px) {
  #sns {
    padding: 0 0 100px;
  }
  #sns .sns-inner {
    display: block;
  }
  #sns .sns-inner > div > h2 {
    font-size: 22px;
  }
  #sns .sns-inner > div > h2::before {
    width: 22px;
    height: 22px;
  }
  #sns .sns-inner > div > ul {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }
  #sns .sns-inner > div.sns-youtube {
    width: 100%;
    padding-right: 0px;
    margin-bottom: 50px;
  }
  #sns .sns-inner > div.sns-instagram {
    width: 100%;
  }
  #sns .sns-inner > div.sns-instagram > h2::before {
    background: url(../img/logo/insta.svg) no-repeat center/cover;
  }
  #sns .sns-inner > div.sns-instagram .insta-list {
    display: flex;
    flex-wrap: wrap;
  }
  #sns .sns-inner > div.sns-instagram .insta-list > li {
    flex: 1;
    height: 100%;
    transition: flex 0.5s;
  }
  #sns .sns-inner > div.sns-instagram .insta-list > li > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  #sns .sns-inner > div.sns-instagram .insta-list > li > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(0.9);
    transition: 0.5s;
  }
  #sns .sns-inner > div.sns-instagram .insta-list > li:hover {
    flex: 3;
    border: 3px solid #ef6d00;
  }
  #sns .sns-inner > div.sns-instagram .insta-list > li:hover > a > img {
    filter: grayscale(0);
  }
}
@media (max-width: 768px) {
  #sns {
    padding: 0 0 40px;
  }
  #sns .sns-inner {
    display: block;
  }
  #sns .sns-inner > div > h2 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  #sns .sns-inner > div > h2::before {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
  #sns .sns-inner > div > ul {
    height: 120px;
    margin-bottom: 10px;
  }
  #sns .sns-inner > div > a {
    font-size: 12px;
  }
  #sns .sns-inner > div > a::after {
    margin-left: 5px;
  }
  #sns .sns-inner > div.sns-youtube {
    width: 100%;
    padding-right: 0px;
    margin-bottom: 10px;
  }
  #sns .sns-inner > div.sns-youtube .youtube-list {
    display: flex;
    gap: 10px;
  }
  #sns .sns-inner > div.sns-youtube .youtube-list > li {
    border-radius: 5px;
  }
  #sns .sns-inner > div.sns-youtube .youtube-list > li > a {
    height: 90px;
  }
  #sns .sns-inner > div.sns-youtube .youtube-list > li > p {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    padding: 0 5px;
  }
  #sns .sns-inner > div.sns-instagram .insta-list {
    gap: 5px;
    height: 100px;
  }
  #sns .sns-inner > div.sns-instagram .insta-list > li {
    flex: 1;
    transition: none;
  }
  #sns .sns-inner > div.sns-instagram .insta-list > li > a > img {
    filter: grayscale(0);
  }
  #sns .sns-inner > div.sns-instagram .insta-list > li:hover {
    flex: 1;
    border: none;
  }
}
@media (max-width: 500px) {
  #sns .sns-inner > div.sns-youtube .youtube-list {
    height: 90px;
    display: flex;
    gap: 5px;
  }
  #sns .sns-inner > div.sns-youtube .youtube-list > li {
    border-radius: 5px;
  }
  #sns .sns-inner > div.sns-youtube .youtube-list > li > a {
    height: 60px;
  }
  #sns .sns-inner > div.sns-youtube .youtube-list > li > p {
    height: 30px;
    line-height: 30px;
    font-size: 10px;
    padding: 0 5px;
  }
  #sns .sns-inner > div.sns-instagram .insta-list {
    gap: 5px;
    height: 100px;
  }
  #sns .sns-inner > div.sns-instagram .insta-list > li {
    flex: 1;
    transition: none;
  }
  #sns .sns-inner > div.sns-instagram .insta-list > li > a > img {
    filter: grayscale(0);
  }
  #sns .sns-inner > div.sns-instagram .insta-list > li:hover {
    flex: 1;
    border: none;
  }
}
#QnA {
  width: 100%;
  margin-bottom: 100px;
  padding: 50px 0;
  background-color: #444;
}
#QnA .QnA-inner {
  width: 70%;
  margin: 0 auto;
}
#QnA .QnA-inner .QnA-txt {
  width: 100%;
}
#QnA .QnA-inner .QnA-txt > h2 {
  height: 40px;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: #fff;
}
#QnA .QnA-inner .QnA-txt > h2::before {
  display: inline-block;
  content: "";
  width: 30px;
  height: 30px;
  margin-bottom: 3px;
  margin-right: 10px;
  background: url(../img/icon/qna.svg) no-repeat center/cover;
}
#QnA .QnA-inner .QnA-txt > h3 {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: #f7f7f7;
}
#QnA .QnA-inner .QnA-tab {
  display: none;
}
#QnA .QnA-inner .QnA-list {
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  gap: 30px;
}
#QnA .QnA-inner .QnA-list > div {
  flex: 1;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
}
#QnA .QnA-inner .QnA-list > div > h2 {
  width: 100%;
  height: 60px;
  font-size: 22px;
  font-weight: normal;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  background-color: #A7C0CE;
}
#QnA .QnA-inner .QnA-list > div > ul {
  width: 100%;
  padding: 20px;
}
#QnA .QnA-inner .QnA-list > div > ul > li {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
}
#QnA .QnA-inner .QnA-list > div > ul > li > a {
  width: 75%;
}
#QnA .QnA-inner .QnA-list > div > ul > li > a > p {
  min-width: 0;
  font-size: 18px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#QnA .QnA-inner .QnA-list > div > ul > li span {
  width: 25%;
  font-size: 14px;
  color: #888;
  text-align: right;
}
#QnA .QnA-inner .QnA-list > div > ul > li::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #f7f7f7;
  bottom: 0px;
}
#QnA .QnA-inner .QnA-list > div > ul > li:last-of-type::after {
  display: none;
}
#QnA .QnA-inner .QnA-btn {
  width: 100%;
  height: 50px;
  text-align: right;
}
#QnA .QnA-inner .QnA-btn > a {
  display: inline-block;
  height: 100%;
  padding: 0 50px;
  line-height: 50px;
  border-radius: 10px;
  background-color: #ef6d00;
  font-size: 20px;
  color: #f7f7f7;
}

@media (max-width: 1500px) {
  #QnA .QnA-inner {
    width: 80%;
  }
}
@media (max-width: 1300px) {
  #QnA .QnA-inner {
    width: 90%;
  }
  #QnA .QnA-inner .QnA-txt > h2 {
    font-size: 26px;
  }
  #QnA .QnA-inner .QnA-txt > h2::before {
    width: 26px;
    height: 26px;
  }
  #QnA .QnA-inner .QnA-list {
    padding: 30px 0;
    gap: 20px;
  }
  #QnA .QnA-inner .QnA-list > div {
    border-radius: 15px;
  }
  #QnA .QnA-inner .QnA-list > div > h2 {
    height: 40px;
    font-size: 18px;
  }
  #QnA .QnA-inner .QnA-list > div > ul {
    padding: 10px;
  }
  #QnA .QnA-inner .QnA-list > div > ul > li {
    height: 40px;
  }
  #QnA .QnA-inner .QnA-list > div > ul > li > a > p {
    font-size: 14px;
  }
  #QnA .QnA-inner .QnA-list > div > ul > li span {
    font-size: 12px;
  }
  #QnA .QnA-inner .QnA-btn {
    height: 30px;
  }
  #QnA .QnA-inner .QnA-btn > a {
    padding: 0 20px;
    line-height: 30px;
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  #QnA .QnA-inner .QnA-txt > h2 {
    font-size: 22px;
  }
  #QnA .QnA-inner .QnA-txt > h2::before {
    width: 22px;
    height: 22px;
  }
  #QnA .QnA-inner .QnA-txt > h3 {
    font-size: 14px;
    margin-bottom: 20px;
  }
  #QnA .QnA-inner .QnA-tab {
    display: flex;
    width: 100%;
    height: 40px;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
  }
  #QnA .QnA-inner .QnA-tab > li {
    flex: 1;
    width: 100%;
    height: 100%;
  }
  #QnA .QnA-inner .QnA-tab > li > a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    background-color: #eee;
    color: #888;
  }
  #QnA .QnA-inner .QnA-tab > li.on > a {
    background-color: #A7C0CE;
    color: #000;
  }
  #QnA .QnA-inner .QnA-list {
    display: block;
  }
  #QnA .QnA-inner .QnA-list > div {
    display: none;
    border-radius: 15px;
  }
  #QnA .QnA-inner .QnA-list > div > h2 {
    display: none;
  }
  #QnA .QnA-inner .QnA-list > div > ul {
    padding: 10px 20px;
  }
  #QnA .QnA-inner .QnA-list > div > ul > li > a > p {
    font-size: 16px;
  }
  #QnA .QnA-inner .QnA-list > div > ul > li span {
    font-size: 14px;
  }
  #QnA .QnA-inner .QnA-list > div.active {
    display: block;
  }
}
@media (max-width: 768px) {
  #QnA {
    padding: 40px 0;
    margin-bottom: 40px;
  }
  #QnA .QnA-inner .QnA-txt > h2 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  #QnA .QnA-inner .QnA-txt > h2::before {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
  #QnA .QnA-inner .QnA-txt > h3 {
    display: none;
  }
  #QnA .QnA-inner .QnA-tab {
    height: 30px;
    border-radius: 5px;
  }
  #QnA .QnA-inner .QnA-tab > li > a {
    font-size: 12px;
    line-height: 30px;
  }
  #QnA .QnA-inner .QnA-list {
    padding: 15px 0;
  }
  #QnA .QnA-inner .QnA-list > div {
    border-radius: 5px;
  }
  #QnA .QnA-inner .QnA-list > div > ul {
    padding: 5px 10px;
  }
  #QnA .QnA-inner .QnA-list > div > ul > li > a {
    width: 65%;
  }
  #QnA .QnA-inner .QnA-list > div > ul > li > a > p {
    font-size: 12px;
  }
  #QnA .QnA-inner .QnA-list > div > ul > li span {
    width: 35%;
    font-size: 10px;
  }
  #QnA .QnA-inner .QnA-btn {
    height: 20px;
  }
  #QnA .QnA-inner .QnA-btn > a {
    padding: 0 15px;
    line-height: 20px;
    font-size: 12px;
    border-radius: 5px;
  }
}
#intro {
  position: relative;
  width: 100%;
  height: 80vh;
  padding: 200px 0 0px;
}
#intro .intro-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
#intro .intro-bg > .intro-jeju {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#intro .intro-bg > .into-back {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  animation: background 3s linear infinite;
  animation-direction: alternate;
  opacity: 1;
}
#intro .intro-content {
  position: relative;
  width: 50%;
  height: 500px;
  margin: 0 auto;
  padding: 20px;
  z-index: 2;
}
#intro .intro-content .intro-txt {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
  align-items: center;
}
#intro .intro-content .intro-txt h2 {
  font-size: 60px;
  font-weight: normal;
  margin-bottom: 20px;
}
#intro .intro-content .intro-txt p {
  margin-top: -10px;
  font-size: 16px;
  line-height: 1.5;
  color: #777;
}
#intro .intro-content .intro-search .intro-searchBar {
  width: 100%;
  height: 80px;
  background-color: #ef6d00;
  border-radius: 50px;
  margin-bottom: 20px;
  display: flex;
  padding: 0 20px;
  overflow: hidden;
}
#intro .intro-content .intro-search .intro-searchBar #intro-txtbox {
  width: calc(100% - 80px);
  height: 100%;
  background-color: inherit;
  border: none;
  outline: none;
  font-size: 20px;
  line-height: 80px;
  color: #fff;
  margin-left: 20px;
  font-weight: normal;
}
#intro .intro-content .intro-search .intro-searchBar #intro-txtbox::placeholder {
  color: #eee;
  font-size: 20px;
  line-height: 80px;
  font-weight: normal;
}
#intro .intro-content .intro-search .intro-searchBar .intro-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 100%;
}
#intro .intro-content .intro-search .intro-searchBar .intro-icon > i {
  font-size: 24px;
  color: #fff;
}
#intro .intro-content .intro-search .search-word {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 30px;
  width: 100%;
  height: 30px;
}
#intro .intro-content .intro-search .search-word > li {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  background-color: #eee;
  border-radius: 50px;
}
#intro .intro-content .intro-search .search-word > li > a {
  font-size: 16px;
  color: #333;
}
#intro .intro-content .intro-search .search-word::before {
  display: inline-block;
  content: "인기 검색어";
  color: #888;
  margin-right: 20px;
}

@keyframes background {
  0% {
    top: 30%;
  }
  100% {
    top: 40%;
  }
}
@media (max-width: 1600px) {
  #intro {
    height: 80vh;
  }
  #intro .intro-content .intro-txt h2 {
    font-size: 45px;
  }
  #intro .intro-content .intro-txt p {
    margin-top: -15px;
  }
  #intro .intro-content .intro-search .intro-searchBar {
    height: 60px;
  }
  #intro .intro-content .intro-search .intro-searchBar #intro-txtbox {
    font-size: 18px;
  }
  #intro .intro-content .intro-search .intro-searchBar #intro-txtbox::placeholder {
    font-size: 18px;
  }
  #intro .intro-content .intro-search .intro-searchBar .intro-icon > i {
    font-size: 18px;
    color: #fff;
  }
}
@media (max-width: 1400px) {
  #intro {
    padding: 200px 0 50px;
    height: auto;
  }
  #intro .intro-bg > .intro-back {
    top: 30%;
  }
  #intro .intro-bg > .intro-jeju {
    display: none;
  }
  #intro .intro-content {
    height: auto;
  }
  #intro .intro-content .intro-txt {
    flex-direction: column;
    align-items: start;
    padding: 0 20px;
    gap: 10px;
  }
  #intro .intro-content .intro-txt h2 {
    font-size: 45px;
    margin-bottom: 0px;
  }
  #intro .intro-content .intro-txt p {
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 5px;
  }
  #intro .intro-content .intro-search .search-word {
    gap: 5px;
    margin-left: 10px;
  }
  #intro .intro-content .intro-search .search-word > li {
    height: 100%;
    padding: 0 10px;
  }
  #intro .intro-content .intro-search .search-word > li > a {
    font-size: 14px;
  }
  #intro .intro-content .intro-search .search-word::before {
    margin-right: 10px;
  }
  @keyframes background {
    0% {
      top: 30%;
    }
    100% {
      top: 40%;
    }
  }
}
@media (max-width: 1024px) {
  #intro {
    padding: 150px 0px 0px;
  }
  #intro .intro-bg {
    display: none;
  }
  #intro .intro-content {
    width: 90%;
  }
  #intro .intro-content .intro-txt {
    flex-direction: row;
    padding: 0;
    margin-bottom: 10px;
  }
  #intro .intro-content .intro-txt h2 {
    font-size: 40px;
  }
  #intro .intro-content .intro-txt p {
    margin-top: -5px;
  }
  #intro .intro-content .intro-search .intro-searchBar {
    height: 60px;
    border-radius: 20px;
  }
  #intro .intro-content .intro-search .intro-searchBar #intro-txtbox {
    font-size: 18px;
    line-height: 60px;
  }
  #intro .intro-content .intro-search .intro-searchBar #intro-txtbox::placeholder {
    color: #eee;
    font-size: 18px;
    line-height: 60px;
  }
  #intro .intro-content .intro-search .intro-searchBar .intro-icon > i {
    font-size: 18px;
  }
  #intro .intro-content .intro-search .search-word {
    gap: 10px;
    margin-left: 0px;
  }
  #intro .intro-content .intro-search .search-word > li {
    height: 100%;
    padding: 0 15px;
  }
  #intro .intro-content .intro-search .search-word > li > a {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  #intro {
    padding: 100px 0px 0px;
  }
  #intro .intro-content {
    padding: 0px;
  }
  #intro .intro-content .intro-txt {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;
  }
  #intro .intro-content .intro-txt h2 {
    font-size: 36px;
  }
  #intro .intro-content .intro-txt p {
    margin: 0 0 10px 5px;
    font-size: 12px;
  }
  #intro .intro-content .intro-search .intro-searchBar {
    height: 40px;
    border-radius: 5px;
    padding: 0 5px;
  }
  #intro .intro-content .intro-search .intro-searchBar #intro-txtbox {
    margin-left: 5px;
    width: calc(100% - 30px);
    font-size: 14px;
    line-height: 40px;
  }
  #intro .intro-content .intro-search .intro-searchBar #intro-txtbox::placeholder {
    color: #eee;
    font-size: 14px;
    line-height: 60px;
  }
  #intro .intro-content .intro-search .intro-searchBar .intro-icon {
    width: 30px;
    text-align: right;
  }
  #intro .intro-content .intro-search .intro-searchBar .intro-icon > i {
    font-size: 14px;
  }
  #intro .intro-content .intro-search .search-word {
    display: none;
  }
}
#bigdata {
  width: 100%;
  padding: 0 0 150px;
}
#bigdata .bigdata-inner {
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
}
#bigdata .bigdata-inner > h2 {
  height: 40px;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 30px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
#bigdata .bigdata-inner > h2::before {
  display: inline-block;
  content: "";
  width: 30px;
  height: 30px;
  background: url(../img/icon/bigdata.svg) no-repeat center/cover;
  margin-bottom: 3px;
  margin-right: 10px;
}
#bigdata .bigdata-inner .bigdata-nav {
  width: 100%;
  height: 80px;
  display: flex;
  background-color: #ef6d00;
  border-radius: 20px;
  text-align: center;
  overflow: hidden;
}
#bigdata .bigdata-inner .bigdata-nav > li {
  flex: 1;
  position: relative;
  transition: 0.5s;
}
#bigdata .bigdata-inner .bigdata-nav > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 22px;
  color: #fff;
}
#bigdata .bigdata-inner .bigdata-nav > li > a > span {
  font-size: 16px;
  color: #eee;
}
#bigdata .bigdata-inner .bigdata-nav > li::after {
  display: block;
  content: "";
  width: 0.5px;
  height: 60%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #eee;
  opacity: 0.4;
}
#bigdata .bigdata-inner .bigdata-nav > li:first-of-type {
  padding-left: 20px;
}
#bigdata .bigdata-inner .bigdata-nav > li:last-of-type {
  padding-right: 20px;
}
#bigdata .bigdata-inner .bigdata-nav > li:last-of-type::after {
  display: none;
}
#bigdata .bigdata-inner .bigdata-nav > li:hover {
  flex: 1.5;
  background-color: #333;
  position: relative;
  z-index: 2;
}

@media (max-width: 1600px) {
  #bigdata .bigdata-inner .bigdata-nav > li > a {
    font-size: 20px;
  }
  #bigdata .bigdata-inner .bigdata-nav > li > a > span {
    font-size: 14px;
  }
  #bigdata .bigdata-inner .bigdata-nav > li:first-of-type {
    padding-left: 0px;
  }
  #bigdata .bigdata-inner .bigdata-nav > li:last-of-type {
    padding-right: 0px;
  }
}
@media (max-width: 1300px) {
  #bigdata {
    padding: 0 0 100px;
  }
  #bigdata .bigdata-inner {
    width: 90%;
  }
  #bigdata .bigdata-inner > h2 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  #bigdata .bigdata-inner > h2::before {
    width: 26px;
    height: 26px;
  }
  #bigdata .bigdata-inner .bigdata-nav {
    height: 60px;
    border-radius: 20px;
  }
  #bigdata .bigdata-inner .bigdata-nav > li > a {
    font-size: 16px;
  }
  #bigdata .bigdata-inner .bigdata-nav > li:hover {
    flex: 1;
  }
}
@media (max-width: 1024px) {
  #bigdata .bigdata-inner > h2 {
    font-size: 22px;
  }
  #bigdata .bigdata-inner > h2::before {
    width: 22px;
    height: 22px;
  }
  #bigdata .bigdata-inner .bigdata-nav > li > a {
    font-size: 18px;
  }
  #bigdata .bigdata-inner .bigdata-nav > li > a > span {
    display: none;
  }
  #bigdata .bigdata-inner .bigdata-nav > li:hover {
    flex: 1;
  }
}
@media (max-width: 768px) {
  #bigdata {
    padding: 0 0 80px;
  }
  #bigdata .bigdata-inner > h2 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  #bigdata .bigdata-inner > h2::before {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
  #bigdata .bigdata-inner .bigdata-nav {
    height: 100px;
    flex-wrap: wrap;
    border-radius: 0px;
    background-color: #fff;
    gap: 5px;
  }
  #bigdata .bigdata-inner .bigdata-nav > li {
    flex: auto;
    width: 45%;
    height: 48%;
    background-color: #ef6d00;
  }
  #bigdata .bigdata-inner .bigdata-nav > li > a {
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
