#event {
    width: 100%;
    padding: 0px 0 100px;

    .event-inner {
        width: 70%;
        margin: 0 auto;
        position: relative;

        >h2 {
            height: 40px;
            font-size: 30px;
            font-weight: normal;
            margin-bottom: 30px;
            overflow: hidden;
            display: flex;
            align-items: center;
            color: #333;

            &::before {
                display: inline-block;
                content: '';
                width: 30px;
                height: 30px;
                margin-bottom: 3px;
                margin-right: 10px;
                background: url('../img/icon/map.svg') no-repeat center/cover;
            }
        }

        .event-slide {
            position: relative;
            z-index: 1;
            width: 100%;
            height: 300px;
            display: flex;
            overflow: hidden;
            margin: 0 auto;

            >li {
                width: 100%;
                height: 100%;
                min-width: 100%;
                

                >ul {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    overflow: hidden;


                    >li {
                        width: 25%;
                        height: 100%;
                        padding: 0px 10px;
                        min-width: 0;

                        a {
                            display: block;
                            width: 100%;
                            height: 100%;
                            border: 1px solid #eee;
                            border-radius: 20px;
                            overflow: hidden;
        
                            .event-img {
                                width: 100%;
                                height: 70%;
                                overflow: hidden;
        
                                >img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }

                            >p {
                                font-size: 20px;
                                width: 100%;
                                height: 30%;
                                padding: 20px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                color: #333;

                                >span {
                                    margin-top: 10px;
                                    display: block;
                                    font-size: 14px;
                                    color: #888;
                                }
                            }
                        }
                    }
                }
            }
        }

        .event-btns {
            z-index: 0;
            position: absolute;
            width: 110%;
            height: 300px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            top: 80px;
            left: 50%;
            transform: translateX(-50%);

            li {
                a {
                    i {
                        font-size: 50px;
                        color: #333;
                    }
                }
            }
        }
    }
}

@media (max-width: 1500px) {
    #event {
        .event-inner {
            .event-slide {

                >li {
                    >ul {
                        >li {
                            a {
    
                                >p {
                                    font-size: 16px;
                                    padding: 20px 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    #event {
        .event-inner {
            width: 90%;
    
            >h2 {
                font-size: 26px;
                margin-bottom: 20px;
    
                &::before {
                    width: 26px;
                    height: 26px;
                }
            }

    
            .event-btns {
                width: 105%;
                height: 350px;
                top: 0;
    
                li {
                    a {
                        i {
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $tablet) {
    #event {
        .event-inner {
            >h2 {
                font-size: 22px;
    
                &::before {
                    width: 22px;
                    height: 22px;
                }
            }

            .event-slide {
                height: 200px;
    
                >li {
    
                    >ul {
    
                        >li {
                            padding: 0px 5px;
    
                            a {
                                border-radius: 10px;
    
                                >p {
                                    margin-top: 5px;
                                    font-size: 16px;
                                    padding: 5px;
    
                                    >span {
                                        margin-top: 7px;
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

    
            .event-btns {
                height: 240px;
                li {
                    a {
                        i {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $mobile) {
    #event {
        padding: 0 0 40px;
        .event-inner {
            >h2 {
                font-size: 16px;
                margin-bottom: 5px;
    
                &::before {
                    width: 16px;
                    height: 16px;
                    margin-right: 5px;
                }
            }

            .event-slide {
                height: 300px;
    
                >li {
    
                    >ul {
                        flex-wrap: wrap;
                        >li {
                            width: 50%;
                            height: 50%;
                            padding: 7px;
    
                            a {
                                border-radius: 5px;

                                .event-img {
                                    height: 60%;
                                }
    
                                >p {
                                    font-size: 12px;
                                    padding: 5px 10px;
    
                                    >span {
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

    
            .event-btns {
                height: 340px;
                li {
                    margin-top: 30px;
                    a {
                        i {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}