#event {
    width: 100%;
    padding: 0px 0 100px;

    .event-inner {
        width: 70%;
        margin: 0 auto;
        position: relative;

        .event-txt {
            width: 100%;

            >h2 {
                height: 40px;
                font-size: 30px;
                font-weight: normal;
                margin-bottom: 30px;
                overflow: hidden;
                display: flex;
                align-items: center;
                color: #333;
    
                &::before {
                    display: inline-block;
                    content: '';
                    width: 30px;
                    height: 30px;
                    margin-bottom: 3px;
                    margin-right: 10px;
                    background: url('../img/icon/map.svg') no-repeat center/cover;
                }
            }
        }

        .event-slide {
            width: 100%;
            height: 300px;
            display: flex;
            overflow: hidden;
            margin: 0 auto;

            >li {
                width: 25%;
                height: 100%;
                padding: 0px 10px;

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: #f7f7f7;
                    border-radius: 20px;
                    overflow: hidden;

                    .event-img {
                        width: 100%;
                        height: 70%;
                        overflow: hidden;

                        >img {
                            object-fit: cover;
                        }
                    }
                }
            }
        }

        .event-btns {
            position: absolute;
            width: 110%;
            height: 400px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            top: 80px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}