#QnA {
    width: 100%;
    margin-bottom: 100px;
    padding: 50px 0;
    background-color: $mainColor;

    .QnA-inner {
        width: 70%;
        margin: 0 auto;

        .QnA-txt {
            width: 100%;
            >h2 {
                height: 40px;
                font-size: 30px;
                font-weight: normal;
                margin-bottom: 10px;
                overflow: hidden;
                display: flex;
                align-items: center;
                color: #fff;
    
                &::before {
                    display: inline-block;
                    content: '';
                    width: 30px;
                    height: 30px;
                    margin-bottom: 3px;
                    margin-right: 10px;
                    background: url(../img/icon/qna.svg) no-repeat center/cover;
                }
            }

            >h3 {
                font-size: 16px;
                font-weight: normal;
                line-height: 1.5;
                color: #f7f7f7;
            }
        }

        .QnA-list {
            width: 80%;
            margin: 0 auto;
            padding: 50px 0;

            ul {
                >li {
                    width: 100%;
                    padding: 0 20px;
    
                    >a {
                        width: 100%;
                        height: 40px;
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }
        >a {
            display: block;
            text-align: right;
        }
    }

}